/* MAIN COLOUR PALETTE - https://coolors.co/b07baf-c4925c-f2f2f2-ab9aab-4ec24f */

#colour_1 {
    background-color: hsla(301, 25%, 59%, 1);
    color: white;
}

#colour_2 {
    background-color: hsla(31, 47%, 56%, 1);
    color: white;
}

#colour_3 {
    background-color: hsla(0, 0%, 95%, 1);
    color: black;
}

#colour_4 {
    background-color: hsla(300, 9%, 64%, 1);
    color: black;
}

#colour_5 {
    background-color: hsla(121, 49%, 53%, 1);
    color: white;
}