@import url('fonts.css');
@import url('colors.css');

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

#colors, #fonts, #styles {
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

div h2 {
    font-size: 15px;
    text-align: left;
}

code {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
}

.swatch {
    width: 200px;
    height: 100px;
    display: inline-block;
}

.fonts {
    text-align: justify;
}

#font_1, #font_2, #font_3 {
    display: inline-block;
    padding-right: 3%;
    width: 30%;
}

#font_1 {
    font-family: Roboto;
    font-size: 17px;
}

#font_2 {
    font-family: 'Space Mono';
    font-size: 17px;
}

#font_3 {
    font-family: Qahiri;
    font-size: 17px;
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}